interactions:
- request:
    body: '{"fields": {"num_orders": {"name": "num_orders", "type": "number", "required":
      true}, "timestamp": {"name": "timestamp", "type": "datetime", "required": false},
      "tpl": {"name": "tpl", "type": "string", "required": false}}, "unique_by": ["timestamp"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: PUT
    uri: https://api.geckoboard.com/datasets/john.test.dataset
  response:
    body:
      string: '{"id":"john.test.dataset","fields":{"num_orders":{"type":"number","optional":false,"name":"num_orders"},"timestamp":{"type":"datetime","optional":false,"name":"timestamp"},"tpl":{"type":"string","optional":false,"name":"tpl"}},"unique_by":["timestamp"],"created_at":"2020-07-12T03:28:40.364257Z","updated_at":"2020-07-12T03:28:40.364257Z"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Instance-ID:
      - i-090f743bf9c3eca3a
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: GET
    uri: https://api.geckoboard.com/datasets
  response:
    body:
      string: '{"data":[{"id":"john.test.dataset","fields":{"num_orders":{"type":"number","optional":false,"name":"num_orders"},"timestamp":{"type":"datetime","optional":false,"name":"timestamp"},"tpl":{"type":"string","optional":false,"name":"tpl"}},"unique_by":["timestamp"],"created_at":"2020-07-12T03:28:40.364257Z","updated_at":"2020-07-12T03:28:40.364257Z"},{"id":"num_unsynced_objects.by_datetime","fields":{"datetime":{"type":"datetime","optional":false,"name":"datetime"},"facilities":{"type":"number","optional":true,"name":"Facility"},"inventory_details":{"type":"number","optional":true,"name":"InventoryDetail"},"inventory_owners":{"type":"number","optional":true,"name":"InventoryOwner"},"items":{"type":"number","optional":true,"name":"Item"},"locations":{"type":"number","optional":true,"name":"Location"},"orders":{"type":"number","optional":true,"name":"Orders"},"receivers":{"type":"number","optional":true,"name":"Receiver"},"tpl_id":{"type":"number","optional":false,"name":"Tpl"}},"unique_by":["datetime"],"created_at":"2020-07-10T08:12:23.950807Z","updated_at":"2020-07-10T09:53:26.038308Z"},{"id":"nps.by_period","fields":{"last30nps":{"type":"number","optional":false,"name":"Last30NPS"},"last7nps":{"type":"number","optional":false,"name":"Last7NPS"},"last90nps":{"type":"number","optional":false,"name":"Last90NPS"},"mtdnps":{"type":"number","optional":false,"name":"MTDNPS"},"previousnps":{"type":"number","optional":false,"name":"PreviousNPS"},"qtdnps":{"type":"number","optional":false,"name":"QTDNPS"},"todaycount":{"type":"number","optional":false,"name":"Today"},"todaynps":{"type":"number","optional":false,"name":"TodayNPS"},"updatedat":{"type":"datetime","optional":false,"name":"Updated"},"ytdnps":{"type":"number","optional":false,"name":"YTDNPS"}},"created_at":"2020-03-20T09:19:42.914769Z","updated_at":"2020-07-12T03:20:03.924725Z"},{"id":"team.bms.analytics","fields":{"churn":{"type":"number","optional":false},"churnpercent":{"type":"number","optional":false},"haloc":{"type":"number","optional":false},"helpothers":{"type":"number","optional":false},"legacyrefactor":{"type":"number","optional":false},"newwork":{"type":"number","optional":false},"totalcommits":{"type":"number","optional":false},"tt100":{"type":"number","optional":false},"wrongmessage":{"type":"string","optional":false}},"created_at":"2020-01-30T00:34:37.192664Z","updated_at":"2020-01-30T00:57:51.853161Z"},{"id":"sales.by_day","fields":{"amount":{"type":"number","optional":false,"name":"Amount"},"timestamp":{"type":"datetime","optional":false,"name":"Date"}},"unique_by":["timestamp"],"created_at":"2020-01-29T18:54:35.578634Z","updated_at":"2020-01-29T18:58:26.67903Z"},{"id":"logins.by_day_final","fields":{"cv":{"type":"number","optional":false,"name":"ClassicView
        Logins (Unique)"},"day":{"type":"date","optional":false,"name":"Date"},"percent":{"type":"number","optional":false,"name":"Ratio"},"sv":{"type":"number","optional":false,"name":"SmartView
        Logins (Unique)"}},"created_at":"2019-05-03T21:49:50.27265Z","updated_at":"2020-07-11T08:00:50.331733Z"},{"id":"logins.by_day_versionss","fields":{"cv":{"type":"number","optional":false,"name":"ClassicView
        Logins (Unique)"},"day":{"type":"number","optional":false,"name":"Date"},"percent":{"type":"number","optional":false,"name":"Ratio"},"sv":{"type":"number","optional":false,"name":"SmartView
        Logins (Unique)"}},"created_[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.geckoboard.com/datasets/john.test.dataset
  response:
    body:
      string: '{}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Instance-ID:
      - i-07b2a3d3da628cc7e
    status:
      code: 200
      message: OK
version: 1
