interactions:
- request:
    body: '{"fields": {"num_orders": {"name": "num_orders", "type": "number", "required":
      true}, "timestamp": {"name": "timestamp", "type": "datetime", "required": false},
      "tpl": {"name": "tpl", "type": "string", "required": false}}, "unique_by": ["timestamp"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: PUT
    uri: https://api.geckoboard.com/datasets/john.test.dataset
  response:
    body:
      string: '{"id":"john.test.dataset","fields":{"num_orders":{"type":"number","optional":false,"name":"num_orders"},"timestamp":{"type":"datetime","optional":false,"name":"timestamp"},"tpl":{"type":"string","optional":false,"name":"tpl"}},"unique_by":["timestamp"],"created_at":"2020-07-12T00:53:26.957666Z","updated_at":"2020-07-12T00:53:26.957666Z"}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Instance-ID:
      - i-004d9cb7f3cc805a0
    status:
      code: 201
      message: Created
- request:
    body: '{"data": [{"num_orders": 8, "timestamp": "2020-01-02T00:00:00", "tpl":
      "mytpl"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - DUMMY
    method: POST
    uri: https://api.geckoboard.com/datasets/john.test.dataset/data
  response:
    body:
      string: '{}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Instance-ID:
      - i-004d9cb7f3cc805a0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - DUMMY
    method: DELETE
    uri: https://api.geckoboard.com/datasets/john.test.dataset
  response:
    body:
      string: '{}

        '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Instance-ID:
      - i-0f719ae404d70469b
    status:
      code: 200
      message: OK
version: 1
